.home{
    display: flex;
    height: 100vh;
}
.home-contents{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
}